.show-banner {
  padding: 25px 0;
  background-size: 90%;
  background-position: center;
  opacity: 0.9; 
}

.show-banner h2 {
  color:  $light-red;
  font-size: 40px;
}

.horizontal-centered {
  margin: 0 auto;
}

.events-banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.events-banner h3 {
  font-weight: bold;
  font-size: 80px;
  color: black;

}

.activity-header img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px lightgrey;
  object-fit: cover;
  object-position: center;
}

.activity-detail h3 {
  font-weight: 600;
  font-size: 18px;
}

.join-events-title {
  font-weight: 600;
}

.details-button {
  margin-right: 6px;
  margin-top: -10px;
}
.event-img-placeholder {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.fa-user-friends {
  font-size: 30px;
}

.fa-map-marked-alt {
  font-size: 30px;
}

.fa-clipboard-check {
  font-size: 30px;
}

.fa-calendar-alt {
  font-size: 14px;
}

.fa-broadcast-tower {
  font-size: 14px;
}