.show-banner {
  padding: 25px 0;
  background-size: 100%;
  background-position: center;
  opacity: 0.9; 
}

.show-banner h2 {
  color:  rgb(242, 74, 85);
  font-size: 28px;
}

.horizontal-centered {
  margin: 0 auto;
}

.events-banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.events-banner h3 {
  font-weight: bold;
  font-size: 80px;
  color: black;

}

.activity-header img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 15px black;
  object-fit: cover;
  object-position: center;
}

.fa-user-friends {
  font-size: 30px;
}

.fa-map-marked-alt {
  font-size: 30px;
}

.fa-clipboard-check {
  font-size: 30px;
}