.main-container {
  display: flex; 
  align-items: center;
  padding: 1.2rem;
  
  width: 100%;
  margin: 0 auto;
 
  h2 {
    font-weight: 600;
    color: rgba( 0, 0, 0, .3);
  } 
}

.chat-header {
  // background-color: $pink;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6);
  padding: 7px 20px;
  h1 {
    font-weight: 700;
  }

}

.users-cards {
  flex-grow: 1;
}

.chatroom {
  flex-grow: 1;
  background-color: white ;
  padding: 15px;
  border-radius: 10px;
}
.chatroom-users {
  flex-direction: row;
  width: 37%;
  min-height: 575px;
  overflow: hidden;
  padding: 25px;
  border-radius: 10px;
  position: sticky;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    color:rgb(242, 74, 85)
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}

@media (max-width : 587px) {
  .chatroom-users {
    flex-direction: row;
    min-height: 575px;
    overflow: hidden;
    padding: 25px;
    border-radius: 10px;
    position: sticky;

    h1 {
      font-size: 2.2rem;
      margin-bottom: 0.8rem;
      color:rgb(242, 74, 85)
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
  .chatroom-user {
    background-color: transparent!important;
    border-radius: 0px;
  }
  .chatroom {
    flex-direction: row;
  }
  .chatroom-user-infos {
    display: none;
  }
}

@media (max-width : 320px) {
  .chatroom-users {
    flex-direction: column;
    h1 {
      font-size: 2.3rem;
      margin-bottom: 0.8rem;
      color:rgb(242, 74, 85)
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 0.8rem;
    }
  }
  .chatroom-user {
    background-color: transparent;
    border-radius: 0px;
  }
  .chatroom-user-infos {
    display: none;
  }
}

.chatroom-user {
  background: white;
  display: flex;
  border-radius: 9px;

  img {
    border-radius: 50%;
    margin: 10px;
    height: auto;
    width: 90%;
  }

    a > h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.3rem 0rem;
    color:  rgb(242, 74, 85);
    
    &:hover {
        color: rgba(139, 238, 255, 1.0);
        text-decoration: none;
    }
  }
}

