.main-container {
  display: flex; 
  align-items: center;
  padding: 1.2rem;
  
  width: 100%;
  margin: 0 auto;
 
  h2 {
    font-size: 100px;
    font-weight: bold;
    color: rgba( 0, 0, 0, .9);
  } 
}

.chat-header {
  // background-color: $pink;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.9);
  padding: 7px 20px;
  h4 {
    margin: 0;
  }
}

.users-cards {
  flex-grow: 1;
}

.chatroom {
  flex-grow: 1;
  background-color: white ;
  padding: 15px;
  border-radius: 10px;
}
.chatroom-users {
  flex-direction: row;
  width: 37%;
  min-height: 575px;
  overflow: hidden;
  padding: 25px;
  border-radius: 10px;
  position: sticky;

  h2 {
    font-size: 35px;
    margin-bottom: 17px;
  }
}

@media (max-width : 587px) {
  .chatroom-users {
    flex-direction: row;
    min-height: 575px;
    overflow: hidden;
    padding: 25px;
    border-radius: 10px;
    position: sticky;

    h2 {
      font-size: 35px;
      margin-bottom: 17px;
    }
  }
  .chatroom {
    flex-direction: row;
  }
}

@media (max-width : 320px) {
  .chatroom-users {
    flex-direction: column;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  .chatroom {
    flex-direction: column;
  }
}
.chatroom-user {
  background: white;
  display: flex;
  border-radius: 9px;

  p {
    display: none;
  }

  img {
    border-radius: 9px;
    margin: 10px;
    height: auto;
    width: 90%;
  }
}

.chatroom-user-infos {
  padding: 10px;
}