.event-header-image {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 15px black;
  object-fit: cover;
}

.event-show-title {
  text-align: left;
  padding-top: 15px;
}

.event-show-details {
  padding-top: 15px;
}

.event-show-contact-link {
  padding-top: 30px;
}

.event-show-other-events {
  display:flex;
  justify-content: space-between;
}

.back-link {
  padding-top: 50px;
  padding-bottom: 50px;
}

// #event-info {
//   height: 100vh;
//   position: sticky;
//   top: 0;
// }

#event-info .fas {
  margin-top: 30px;
  font-size: xx-large;
  color: lightgrey;
}

.event-user-card {
  overflow: hidden;
  height: 150px;
  width: 100px;
  margin: 0 auto;
  background-color: white;
  border-radius: 9px;
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-shadow: 0 0 15px lightgrey;

  img {
    // height: 60%;
    // width: auto;
    margin: 5px;
    border-radius: 9px;
  }

  h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    color: rgba( 255 ,87 ,97, 1.0);
  }

  p {
    font-size: 10px;
  }
}

@media(max-width: 540px){
  .grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 0px 15px;
    grid-gap: 32px 0px;
  }
}

@media(min-width: 541px){
  .grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0px;
  }
}
  

// .user-wrap {
//   display:flex;
//   flex-wrap: wrap;
// }