.new-chat {
  h3 {
    font-weight: 900
  }

  p {
    opacity: 0.8;
  }

}
// .user-wrapper {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }

// .user-list {
//   flex: 0 0 30%;
// }

// .user {
//   position: absolute;
//   transform: scale(0);
// }

// .user + label {
//   display: block;
//   cursor: pointer;
//   box-sizing: border-box;
//   width: 100%;
//   font-size: 12px;
//   text-align: left;
//   padding: 10px 10px 30px 10px;
//   border: 1px solid #EAEAEA;
//   border-radius: 4px;
//   background-color: white;
// }

// .user:checked + label {
//   color: white !important;
// }

.user-list {
  display: inline-block;
  position: relative;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 22px;
    right: 32px;
  }

  .username {
    margin-top: 5px;
  }
}

.user {
  position: absolute;
  transform: scale(0);
}

.user + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  background: linear-gradient(to right, rgba(62, 226, 255, 0.6), rgba(139, 238, 255, 0.6));
  box-shadow: 1px 1px 5px $warning;
  color: $info;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  height: 90px;
  width: 140px;
  
}

.user:checked + label {
  background-color: $info;
  color: rgb(0, 0, 0);
}

.button-inline {
  display: flex;
  justify-content: start;

  .chatroom_title {
    margin: 0 25px;
    width: 40%;
    height: 100px;
  }

  .chatroom_description {
    margin: 0 25px;
    width: 40%;
    height: 100px;
  }
}