.container-edit {
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  padding: 2rem;

  h2 {
    font-size: 4vw;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
  }
}
.container-edit-photo {
  display: flex;
  align-items: center;
 }

.color {
  color: black;
}

@media (max-width : 887px) {
  .container-edit{
    h2 {
      font-size: 2rem;
    }
  }
 }

@media (max-width : 498px) {
  .container-edit{
    h2 {
      font-size: 1.8rem;
    }
  }
}

 @media (max-width : 320px) {
  .container-edit{
    h2 {
      font-size: 1.5rem;
    }
  }
 }