  <%# carta rectangular horizontal con foto, titulo y parrafo %> %>
  <div class="card-users text-center">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-users-infos">
        <h2>Activity</h2>
        <p>activity description and something else only as a placeholder, we will have to write some interesting stuff here</p>
      </div>
    </div>

    <%# esta es la tajeta de reviews de actividades %>
      <%# tarjeta vertical con foto, estrellas, titulo y descripcion  %>
      <div class="card-activity my-2">
        <img src="https://images.unsplash.com/photo-1541525897844-9851970da95a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fGxvbmdib2FyZGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
        <div class="card-activity-infos">
          <div>
            <h1>Title here</h1>
            <p>Short description here!</p>
            <div class="d-flex location"> <i class="mx-1 fas fa-map-marker-alt"></i>  <p>Zone</p> </div>
          </div>
        </div>
      </div>

    <%# tarjeta rectangular para el show de los ususarios  %>
    <div class="card-rectangular">
      <div>
        <img src="https://images.unsplash.com/photo-1553867745-6e038d085e86?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=813&q=80" class="card-rectangular-img-circular" />
        <div class="card-stars">
          <h3><i class="fas fa-star"></i></h3>
          <h3><i class="fas fa-star"></i></h3>
          <h3><i class="fas fa-star"></i></h3>
          <h3><i class="fas fa-star"></i></h3>
          <h3><i class="fas fa-star"></i></h3>
        </div>
      </div>
      <div class="card-pofile-info">
        <h2>Profile</h2>
        <p>OurStudio is a digital agency UI / UX Design and Website Development located in Ohio, United States of America OurStudio is a digital agency UI / UX Design and Website Development located in Ohio, United States of America OurStudio is a digital agency UI / UX Design and Website Development located in Ohio, United States of America</p>
      </div>
    </div>

    <div class="card-rectangular">
      <div>
        <img src="https://images.unsplash.com/photo-1553867745-6e038d085e86?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=813&q=80" class="card-rectangular-square-img" />
      </div>
      <div class="card-pofile-info">
        <h2>Running by the lake</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quas ad debitis, aliquid ipsam a similique cupiditate sequi enim dolorum iure ipsa voluptatem hic mollitia velit? Molestiae odit sunt deleniti.</p>
      </div>
    </div>
