  <div class="footer">
    <div class="row">
      <div class="col-sm-12	col-md-6	col-lg-4	col-xl-4">
        <div class="item">
          <div class="p-3"> <%= image_tag "logo.png" %> </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, dignissimos dicta cum perspiciatis quibusdam laborum provident repellat, eum tempora quia adipisci rerum libero! Dolorem, autem! Minus alias explicabo ut repudiandae?</p>
        </div>
      </div>
      <div class="col-sm-12	col-md-6	col-lg-4	col-xl-4">
          <div class="item">
          <h1>something here, just to check</h1>
      </div>
    </div>
    <div class="col-sm-12	col-md-6	col-lg-4	col-xl-4">
      <div class="item">
        <h3 class="py-3">Our social medial</h3>
        <div class="footer-links">
          <ul>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label m-3"><h3>Email address</h3></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>  
    </div>
  </div>
</div>