  <div id="footer" class="footer justify-content-center align-items-start">
    <div class="row mt-5">
    
    <div class="column text-left col-12 col-lg-4">
      <div class="row">
        <%= image_tag "logo.png", class: "title align-items-start p-3" %>
        <p class="description col-12 align-items-center mb-3">Originex is a web platform developed by Ariel Waisburg, Eric Hoare, Lucía Pérez Diez and Santiago Castillo during Le Wagon bootcamp in Buenos Aires.</p>
        <p class="copyright col-12 align-items-end mb-0">Copyright Originex</p>
      </div>
    </div>
    <div class="column text-left col-12 col-lg-4">
      <div class="row">
        <h3 class="title col-12 align-items-start pt-3 m-0">Where you can find us?</h3>
        <div class="services col-12 align-items-center">
          <div class="inline d-flex justify-content-around align-items-center mb-2">
            <i class="circle fas fa-street-view"></i>
            <p class="m-0">Niceto Vega 4186, Buenos Aires, Argentina </p>
          </div>
          <div class="inline d-flex justify-content-around align-items-center mb-2">
            <i class="circle fas fa-phone-alt"></i>
            <p class="m-0">+54 9 1166839057</p>
          </div>
          <div class="inline d-flex justify-content-around align-items-center mb-2">
            <i class="circle fas fa-envelope-open-text"></i>
            <p class="m-0">smile@originex.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column text-left col-12 col-lg-4">
      <div class="row">
      <div class="col-12">
        <h3 class="pt-3 mb-0">Keep updated!</h3>
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="email-section col-12 my-3">
        <label for="exampleFormControlInput1" class="form-label m-0"><h3>Excited for receiving new activites each week?</h3></label>
        <div class="email-info d-flex align-items-center">
     
        </div>
      </div>       <input type="email" class="email-input form-control w-75" id="exampleFormControlInput1" placeholder="name@example.com">
          <a href="#"><i class="send fas fa-paper-plane"></i></a>
      </div>
    </div>
    </div>
  </div>