  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar navbar-expand-sm navbar-light navbar-originex">
      <a class="navbar-brand" href="#">
    <img src="https://www.figma.com/file/HpeVkE14mOZi1Gmezisefk/Originex-Prototype?node-id=11%3A15001" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">Home</span>
    </button>
    <div>
      <ul class="navbar-links d-none d-xl-flex align-items-center list-unstyled">
        <li class="navbar-item">
          <a class="navbar-link" href="#"> Dashboard</a>      
        </li>
        <li class="navbar-item">
          <a class="navbar-link active" href="#">Challe</a>      
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#">Lectures</a>    
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#">Flashcards</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#">Products</a>      
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#">Classmates</a>
        </li>
      </ul> 
      </div>
      <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="list-unstyled">  
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://images.unsplash.com/photo-1553867745-6e038d085e86?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=813&q=80" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">log out</a>
              <a class="dropdown-item" href="#">Edit</a>
              <a class="dropdown-item" href="#">Message</a>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
  </div> 
