.banner {
  height: 75vh;
  position: relative;

  .banner-background {
    background-color: white;
  }
  
  .banner-img {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), asset-url("friends.jpg");
    background-size: cover;
    background-position: center;
  }

  .banner-content {
      position: absolute;
      bottom: 100px;
      left: 200px;
      z-index: 999;
      padding: 20px;
      height: 50%;

      h1 {
        color: black;
        font-weight: bold;
        font-size: 125px;
        font-weight: 900;
      }

      .btn-search-bar {
        margin-top: 20px;

        .search-zone {
          font-size: 16px;
          width: 40%;
          margin-left: 5px;
          margin-right: 10px;
        }
        
        .searchable-item {
          font-size: 16px;
        }
        
        .search-icon {
          font-size: 16px;
        }
        
        #query::placeholder {
          color: black;
        }
      }
  }
}

@include media-breakpoint-down(xl) { 
  .banner {
    height: 70vh;

   .banner-content {
     bottom: 50px;
     left: 100px;
     height: 325px;

 
     h1 {
       font-size: 85px;
     }
 
     .btn-search-bar {
       margin-top: 15px;
       padding: 14px 22px;
     }
   }
 }
}

@include media-breakpoint-down(lg) {
  .banner {
    height: 65vh;

   .banner-content {
     bottom: 50px;
     left: 90px;
     height: 275px;

 
     h1 {
       font-size: 75px;
     }
 
     .btn-search-bar {
       margin-top: 15px;
       padding: 12px 20px;
     }
   }
 }
}

@include media-breakpoint-down(md) { 
  .banner {
    height: 60vh;

   .banner-content {
     bottom: 40px;
     left: 80px;
     height: 225px;

 
     h1 {
       font-size: 60px;
     }
 
     .btn-search-bar {
       margin-top: 15px;
       padding: 10px 18px;
       
       .search-zone {
        font-size: 14px;
        width: 50%;
      }

      .searchable-item {
        font-size: 14px;
      }

      .search-icon {
        font-size: 14px;
      }
     }
   }
 }
}

@include media-breakpoint-down(sm) { 
  .banner {
    height: 50vh;

   .banner-content {
     bottom: 5px;
     left: 45px;
     height: 200px;
 
     h1 {
       font-size: 37px;
     }
 
     .btn-search-bar {
       margin-top: 10px;
       padding: 6px 16px;
       
       .search-zone {
        font-size: 12px;
        width: 65%;
      }

      .searchable-item {
        font-size: 12px;
      }

      .search-icon {
        font-size: 12px;
        padding: 10px 10px;
      }
     }
   }
 }
}

@media (max-width : 487px) {
  .banner {
     height: 45vh;

    .banner-content {
      bottom: 0;
      left: 30px;
      height: 165px;
  
      h1 {
        font-size: 30px;
      }
  
      .btn-search-bar {
        margin-top: 10px;
        padding: 4px 10px;
        
        .search-zone {
          font-size: 10px;
          width: 70%;
        }
  
        .searchable-item {
          font-size: 10px;
        }
  
        .search-icon {
          font-size: 10px;
          padding: 9px 10px;
        }
      }
    }
  }
}

@media (max-width : 310px) {
  .banner {
     height: 40vh;

    .banner-content {
      bottom: 0;
      left: 15px;
      height: 120px;
  
      h1 {
        font-size: 18px;
      }
  
      .btn-search-bar {
        margin-top: 8px;
        padding: 2px 6px;
      
        .search-zone {
          font-size: 8px;
          width: 70%;
        }
  
        .searchable-item {
          font-size: 8px;
        }
  
        .search-icon {
          font-size: 8px;
          padding: 9px 8px;
          margin-right: 5px;
        }
      }
    }
  }
}
