.footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  height: 12rem;
  padding: 0 50px;
  color: rgba(0,0,0,0.5);
  
  .row {
    height: 100%;

    .copyright {
      color: $primary;
    }
    
    .inline .circle {
      flex-grow: 0;
      font-size: 20px;
      color: $primary;
    }

    .inline p {
      flex-grow: 1;
      padding-left: 20px;
    } 

    .footer-links {
      display: flex;
      align-items: center;
      padding-left: 80px;
      padding-top: 10px;
      
      a {
        color: $primary;
        opacity: 0.5;
        text-decoration: none;
        font-size: 20px;
        padding-right: 15px;
        
        &:hover {
          opacity: 1;
        }
      }
    }

     h3 {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
