.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 50rem;
  padding: 0.7rem 1.0rem;
  font-weight: 600;
  background-color:white;
  color:  rgb(242, 74, 85);
  // border: 1px solid  rgb(242, 74, 85);
  margin-right: 0.9rem;
  margin-bottom: 0.6rem;
}

.tag-selector:checked + label {
  // background-color:  rgb(242, 74, 85);
  background: linear-gradient(to right, rgba(62, 226, 255, 0.6), rgba(139, 238, 255, 0.6));

  // color:  rgb(255, 255, 255);;
}

.vertical-center {
  h3 {
  font-size: 35px
  }

  p {
    font-weight: 400;
  }
}