.navbar-originex {
  background: white;
  color: black;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 15px 20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  .navbar-logo {
    opacity: 0.7;

    &:hover {
      opacity: 1.0;
    }
  }
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-link {
    display: flex;
    color: black;
    opacity: 0.7;
    font-size: 1rem;
    text-decoration: none;
    padding: .35rem .5rem;
    border-radius: 3px;
    
    &:hover {
      opacity: 1.0;
      color: black;
      text-decoration: none;
      border-bottom: 1px solid rgb(151, 151, 151);
    }
  }
}
  