// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-weight: 400;
}

// Navbar style
.container-fluid {
    padding-top: 85px;
}

@include media-breakpoint-down(lg) {
  .container-fluid {
    padding-top: 80px;
  }
}

@include media-breakpoint-down(md) {
  .container-fluid {
    padding-top: 75px;
  }
}

@include media-breakpoint-down(sm) {
  .container-fluid {
    padding-top: 70px;
  }
}

// Footer style
.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.container-fluid {
  padding-bottom: 12rem;    /* Footer height*/
}

@media (max-width : 587px) {
  .container-fluid {
    padding-bottom: 600px;
  }
 }

@media (max-width : 498px) {
 .container-fluid {
   padding-bottom: 680px;
 }
}

@media (max-width : 392px) {
  .container-fluid {
    padding-bottom: 725px;
  }
 }

 @media (max-width : 350px) {
  .container-fluid {
    padding-bottom: 825px;
  }
 }

 @media (max-width : 320px) {
  .container-fluid {
    padding-bottom: 1000px;
  }
 }