// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
    padding-top: 60px;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }
  
.content-wrap {
  padding-bottom: 13rem;    /* Footer height + botttom margins*/
}

@media (max-width : 587px) {
  .content-wrap {
    padding-bottom: 600px;
  }
 }

@media (max-width : 498px) {
 .content-wrap {
   padding-bottom: 680px;
 }
}

@media (max-width : 392px) {
  .content-wrap {
    padding-bottom: 725px;
  }
 }

 @media (max-width : 350px) {
  .content-wrap {
    padding-bottom: 825px;
  }
 }