<div class="container">
  <h1 class="text-center mt-3">Originex - where experiences happen!</h1>
  <div class="row">
    <div class="col-12">
      <!--Acá iría una card o algo más interesante para mostrar la actividad-->
      <h3><%= @activity.title %></h3>
      <p><%= @activity.category %> | <%= @activity.address %></p>
      <p><%= @activity.description %></p>
    </div>
  </div>
</div>